body {
	margin: 0;
	font-size: 16px;
	color: #fff;
	font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	background: rgb(0,0,0);
	background: linear-gradient(140deg, rgba(0,0,0,1) 0%, rgba(57,57,57,1) 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header {
	padding-top: 60px;
}

.logo {
	font-size: 1.625rem;
	font-weight: bold;
}

.nav {
	display: flex;
}

.nav__primary {
	display: flex;
}

.nav__primary li {
	margin-right: 30px;

}

.nav__dropdown {
	position: relative;
}

.dropdown-area {
	position: absolute;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid red;
	border-radius: 12px;
}